<table class="table">
  <thead>
    <tr>
      <th>Opponent</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for game <- @games do %>
    <tr>
      <td><%= get_other_player(@current_user, game).username %></td>

      <td class="text-right">
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New Game", to: game_path(@conn, :new), class: "btn btn-default" %>
